<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">

<head>

  <title>Social Search Results</title>

  <!-- Required meta tags always come first -->
  {{!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> --}}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">
  

  <!-- Main Styles CSS -->
  <link rel="stylesheet" type="text/css" href="css/main.min.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.min.css">

  <!-- Main Font -->
  <script src="js/webfontloader.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>

</head>
<div class="header-spacer"></div>
<div class="row">

  <header class="header header--logout" id="site-header">


    <div class="page-title">
        <a href="/wall">
        <img src="./images/Godinez.png" alt="" width="200px;">
      </a>
    </div>
    <div style="margin-left:15px;margin-top:27px;margin-bottom:auto;" class="">
      <h6>
        <a href="/wall">Wall</a>
      </h6>
    </div>
    <div style="margin-left:15px;margin-top:27px;margin-bottom:auto;" class="">
      <h6>
        <a href="/friends">Friends</a>
      </h6>
    </div>
    <div style="margin-left:15px;margin-top:27px;margin-bottom:auto;" class="">
      <h6>
        <a href="/tanda">Tanda</a>
      </h6>
    </div>

    <div class="header-content-wrapper">

      <div class="form--login-logout">
        <form class="form-inline">
          <div class="form-group"></div>
          <h4 style="color:red;">Welcome</h4>
          <h4 style="color:white;" id="nombreUS"></h4>
          <button id="logOut" class="btn btn-primary float-right">Logout</button>
        </form>

      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Create Tanda!</h2>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre de Tanda</label>
          <input style="background-color:white;" type="text" class="form-control" id="nombreTanda" placeholder="Nombre Tanda">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Numero de Participantes</label>
          <select style="background-color:white;" id="participantes">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Monto a dar por período de Tiempos</label>
          <select style="background-color:white;" id="monto">
            <option>100</option>
            <option>200</option>
            <option>300</option>
            <option>500</option>
            <option>1000</option>
          </select>
        </div>

        <button id="sendTanda" class="btn btn-primary float-right">Submit</button>


      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
       {{#each examples}}
      <div class="col-2 offset-1 card">
        <div class="card-body">
          <h5 class="card-title">Tanda Creada por {{this.organizadorNombre}}</h5>
          <p class="card-text">Nombre: {{this.nombre}}</p>
          <p class="card-text">Capacidad: {{this.capacidad}}</p>
          <p class="card-text">Inscritos: {{this.inscritos}}</p>
          <p class="card-text">Monto de Tanda: {{this.monto}}</p>
          <p class="card-text">Status: {{this.activa}} </p>
          <a href="/unirte/:id" class="btn btn-primary">Unirte</a>
        </div>
      </div>
      {{/each}}



    </div>
  </div>




  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/tanda.js"></script>